{% extends "base.html" %}
{% block content %}

    <div class="row mt-5">

         <div class="col-4 border border-1 border-dark mx-auto p-4">
             <h2>Login</h2>
             {{ render_form(form) }}
         </div>
    </div>
    <script>
        let email = document.getElementById("email");
        let pass = document.getElementById("password");
        email.onfocus = function(){EmailFocus()};
        email.onblur = function(){EmailBlur()};
        pass.onfocus = function(){PassFocus()};
        pass.onblur = function(){PassBlur()};

        function EmailFocus() {
            email.style.border = "5px DodgerBlue solid";
        }

        function EmailBlur() {
            email.style.border = "1px gray solid";
        }

        function PassFocus() {
            pass.style.border = "5px DodgerBlue solid";
        }

        function PassBlur() {
            pass.style.border = "1px gray solid";
        }
    </script>

{% endblock %}
