{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
        <div class="col-7">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>
        <div id="message" class="col-5">
            <div id="letter" class="red">
                Has lower case letter
                <div class="progress">
                    <div id="p-bar" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
    <style>
        .invalid {
            color: red;
        }

        .valid {
            color: green;
        }
    </style>
    <script>
        let passwordField = document.getElementById("password");
        let letter = document.getElementById("letter");
        let lowerCase = 0;
        //let lowerCase = new Observable(0);
        // Using the onChange event
        let upperCase = 0;
        let num = 0;
        let progress_bar = document.getElementById("p-bar");

        function ModifyProgressBar(current_width) {
            /* Increase and Decrease progress bar */
            let width_string_new_value = current_width.toString();
            let new_width_value = width_string_new_value.concat("%");
            progress_bar.style.width = new_width_value;
        }

        passwordField.onfocus = function () {
            /* Add effect on the password field when it is on focus */
            let message = document.getElementById("message");
            message.style.display = "block";
            message.style.border = "1px solid";
        }

        passwordField.onkeyup = function () {
            /* Validate the password on key up */
            // Validate lowercase letters
            let lowerCaseLetters = /[a-z]/g;
            let upperCaseLetters = /[A-Z]/g;
            let numbers = /[0-9]/g
            let p_bar_width_string = progress_bar.style.width;
            let width_current_value = parseInt(p_bar_width_string.substring(0, p_bar_width_string.length - 1));

            // Increase the progress bar if there is a lowercase letter
            if (passwordField.value.match(lowerCaseLetters)) {
                if (lowerCase === 0) {
                    width_current_value += 33;
                    ModifyProgressBar(width_current_value);
                }
                lowerCase = 1;
            }
            // Decrease the progress bar if there is no lowercase letter
            else {
                if (lowerCase === 1) {
                    width_current_value -= 33;
                    ModifyProgressBar(width_current_value)
                    lowerCase = 0;
                }
            }
            // Increase the progress bar if there is an uppercase letter
            if (passwordField.value.match(upperCaseLetters)) {
                if (upperCase === 0) {
                    width_current_value += 33;
                    ModifyProgressBar(width_current_value);
                }
                upperCase = 1;
            }
            // Decrease the progress bar if there is no uppercase letter
            else {
                if (upperCase === 1) {
                    width_current_value -= 33;
                    ModifyProgressBar(width_current_value)
                    upperCase = 0;
                }
            }
            // Increase the progress bar if there is a number
            if (passwordField.value.match(numbers)) {
                if (num === 0) {
                    width_current_value += 34;
                    ModifyProgressBar(width_current_value);
                    num = 1;
                }
            }
            // Decrease the progress bar if there is no number
            else {
                if (num === 1) {
                    width_current_value -= 34;
                    ModifyProgressBar(width_current_value);
                    num = 0;
                }
            }
        }
    </script>
{% endblock %}
